skelaton-files/
.pytest_cache
.vscode
week-3/npm/ex1+2/node_modules/
week-3/jest/jesting-around/node_modules/
week-3/jest/tdd/node_modules/
week-3/jest/exercises/node_modules/

week-12\React-Intro\playground\node_modules
node_modules/