#nav-bar {
  background-color: lightblue;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: cursive;
}

.nav-bar > h1 {
  justify-content: center;
  display: grid;
}

#nav-bar > button {
  border-color: white;
  font-family: cursive;
  background-color: transparent;
  font-size: large;
}
