body {
  background-image: url("https://st2.depositphotos.com/5586578/11913/i/950/depositphotos_119134546-stock-photo-frame-of-herbs-and-spices.jpg");
}
.box {
  height: 300px;
  width: 600px;
  background-color: rgba(41, 41, 104, 0.65);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
}
.left-side {
  padding: 30px;
}
.right-side {
  padding: 30px;
}
.details > h4 {
  color: rgba(255, 255, 255, 0.849);
}
.details > p {
  color: rgba(211, 211, 211, 0.466);
}
.details {
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 30px;
}
.contact > h4 {
  color: white;
  display: inline-block;
  margin-left: 20px;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-img {
  border-radius: 60%;
  height: 80px;
  width: 80px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 20px;
  right: 110px;
  z-index: 1;
}
.send {
  bottom: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.send p {
  float: left;
  margin: 0;
  color: white;
  margin-right: 10px;
  font-size: 20px;
}
.review {
  height: 300px;
  background: linear-gradient(to top, #e91e63 0%, #e91e63 50%, #f6f6f6 50%, #f6f6f6 100%);
  border-radius: 3px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-rows: 3fr 1fr 6fr 3fr;
  position: relative;
  margin-top: 10px;
}
.stars {
  text-align: center;
  padding-top: 10px;
}
.img-container {
  text-align: center;
}
.send-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  height: 100px;
  width: 92%;
  margin: 10px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
  border: none;
  padding: 10px;
}
.text:focus-visible {
  outline: 2px solid lightskyblue;
}
