#people-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.people {
  background-color: grey;
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
}

.people:hover {
  background-color: aqua;
}
